/* site-header */

.site-header {
  background-color:$brand-color;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.site-header li a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
}

.site-header li a:hover,
.site-header .menu-btn:hover {
  color: #f4f4f4;
  background-color: transparent;
}

.site-header .site-title {
  display: block;
  float: left;
  // padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.site-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.site-header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 25px 20px;
  position: relative;
  user-select: none;
}

.site-header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.site-header .menu-icon .navicon:before,
.site-header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.site-header .menu-icon .navicon:before {
  top: 5px;
}

.site-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.site-header .menu-btn {
  display: none;
}

.site-header .menu-btn:checked ~ .menu {
  max-height: 370px;
}

.site-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.site-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.site-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .site-header li {
    float: left;
  }
  .site-header li a {
    padding: 0px 15px;
  }
  .site-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .site-header .menu-icon {
    display: none;
  }
}

